@model Dictionary<string, string>

<article class="message is-danger">
    <div class="message-header">
        <p>Transaction successful but the order is not valid! <a href="/">Return to home</a>.</p>
    </div>
    <div class="message-body">
        @foreach (var prop in Model)
        {
            <code>@prop.Key: @prop.Value</code>
            <br>
        }
    </div>
</article>
