<footer class="footer has-background-light">
    <div class="content">
        <a href="https://travis-ci.com/shibbir/sslcommerz">
            <img src="https://travis-ci.com/shibbir/sslcommerz.svg?branch=master"/>
        </a>
        <a href="https://opensource.org/licenses/MIT">
            <img src="https://img.shields.io/badge/license-MIT-blue.svg"/>
        </a>
        <p>
            The source code is available in <a href="https://github.com/shibbir/sslcommerz" target="_blank">GitHub</a>.
        </p>
    </div>
</footer>
