<header>
    <h2 class="title has-text-primary">SSLCommerz integration in ASP.NET Core</h2>

    <div class="field is-grouped is-grouped-multiline">
        <div class="control">
            <div class="tags has-addons">
                <span class="tag">SSLCommerz</span>
                <span class="tag is-info">4.0</span>
            </div>
        </div>
        <div class="control">
            <div class="tags has-addons">
                <span class="tag">ASP.NET Core</span>
                <span class="tag is-warning">3.1</span>
            </div>
        </div>
        <div class="control">
            <div class="tags has-addons">
                <span class="tag">Bulma</span>
                <span class="tag is-primary">0.8.0</span>
            </div>
        </div>
    </div>
    <hr />
</header>
