<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>SSLCommerz Integration in ASP.NET Core</title>
</head>
<body>
    <div class="container">
        @RenderBody()
        <footer>
            <p>
                The source code is licensed under
                <a href="http://opensource.org/licenses/mit-license.php" target="_blank">MIT</a>.
            </p>

            <a href="https://github.com/shibbir/sslcommerz" target="_blank" class="btn btn-light">GitHub</a>
        </footer>
    </div>
</body>
</html>
